Code/NodeRed_flows/flows.json
[{"id":"28220e2b.4c3da2","type":"mqtt in","z":"67c97835.2013b8","name":"","topic":"PICTURE","qos":"2","datatype":"buffer","broker":"adc9b4bb.0de798","nl":false,"rap":false,"x":180,"y":140,"wires":[["ff40dc38.1072c","f5d94f7b.cc07b"]]},{"id":"18ccebe3.820424","type":"inject","z":"67c97835.2013b8","name":"ToutesLes30Minutes","props":[{"p":"payload"}],"repeat":"","crontab":"*/30 6-21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":220,"wires":[["4d2ff17d.d82e7"]]},{"id":"bb8f1bdf.6fbe48","type":"file","z":"67c97835.2013b8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":570,"y":20,"wires":[["6aef501e.45abf"]]},{"id":"6aef501e.45abf","type":"debug","z":"67c97835.2013b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":20,"wires":[]},{"id":"ff40dc38.1072c","type":"function","z":"67c97835.2013b8","name":"","func":"var dt = new Date();\ndatename= dt.getFullYear().toString().padStart(4, '0')+'-'+(dt.getMonth()+1).toString().padStart(2, '0')+'-'+dt.getDate().toString().padStart(2, '0')+'_'+dt.getHours().toString().padStart(2, '0')+dt.getMinutes().toString().padStart(2, '0');\nmsg.datename=datename\nmsg.filename=\"/home/pi/timelapse/\"+datename+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":60,"wires":[["bb8f1bdf.6fbe48","84a57849.3b5308","9333b128.4ce1","2c5d40e0.7c157"]]},{"id":"4d2ff17d.d82e7","type":"mqtt out","z":"67c97835.2013b8","name":"","topic":"TakeAPicture","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"adc9b4bb.0de798","x":670,"y":220,"wires":[]},{"id":"f5d94f7b.cc07b","type":"image","z":"67c97835.2013b8","name":"","width":"900","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":380,"y":140,"wires":[]},{"id":"73883e20.cf959","type":"debug","z":"67c97835.2013b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"d44b3128.43b5a","type":"ftp in","z":"67c97835.2013b8","ftp":"c3bddf82.3d308","operation":"put","filename":"img/tomate-cerise-grappe.png","localFilename":"","name":"","x":730,"y":120,"wires":[["73883e20.cf959"]]},{"id":"9333b128.4ce1","type":"function","z":"67c97835.2013b8","name":"","func":"msg.localFilename=msg.filename;\nmsg.filename=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":120,"wires":[["d44b3128.43b5a"]]},{"id":"c33e7bfe.167558","type":"ftp in","z":"67c97835.2013b8","ftp":"c3bddf82.3d308","operation":"put","filename":"lastupdate.php","localFilename":"lastupdate.php","name":"","x":890,"y":160,"wires":[["4c0fbf3f.99d57"]]},{"id":"e0970777.76cae8","type":"file","z":"67c97835.2013b8","name":"","filename":"lastupdate.php","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":160,"wires":[["c33e7bfe.167558"]]},{"id":"2c5d40e0.7c157","type":"function","z":"67c97835.2013b8","name":"","func":"msg.payload = \"<div id=\\\"lastrefresh\\\">\"+msg.datename+\"</div>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":160,"wires":[["e0970777.76cae8"]]},{"id":"4c0fbf3f.99d57","type":"debug","z":"67c97835.2013b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":160,"wires":[]},{"id":"84a57849.3b5308","type":"function","z":"67c97835.2013b8","name":"","func":"msg.localFilename=msg.filename;\nmsg.filename=\"bucket/\"+msg.datename+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":80,"wires":[["dbee5eb6.c0be4"]]},{"id":"dbee5eb6.c0be4","type":"ftp in","z":"67c97835.2013b8","ftp":"c3bddf82.3d308","operation":"put","filename":"","localFilename":"","name":"","x":723.8958129882812,"y":81.88888549804688,"wires":[["a01cf3ff.0fd83"]]},{"id":"a01cf3ff.0fd83","type":"debug","z":"67c97835.2013b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"adc9b4bb.0de798","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c3bddf82.3d308","type":"ftp","host":"cybergarden.xyz","port":"21","secureOptions":"","user":"u702226795","connTimeout":"","pasvTimeout":"","keepalive":""}]