Code/NodeRed_flows/MoistureMQTTReception.json
[{"id":"da6fc8bc.909d58","type":"mqtt in","z":"4c86e269.9d16fc","name":"","topic":"DATA0","qos":"2","datatype":"auto","broker":"adc9b4bb.0de798","nl":false,"rap":true,"rh":0,"x":330,"y":220,"wires":[["e977efbc.c8903","ce9d9538.0b5eb8","ce8430e2.315d","a6a143cc.09629","408c789b.4e44d8"]]},{"id":"3162754f.e4c73a","type":"debug","z":"4c86e269.9d16fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"c18b6185.3c62c","type":"file","z":"4c86e269.9d16fc","name":"","filename":"moisture.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":670,"y":220,"wires":[["3162754f.e4c73a"]]},{"id":"e977efbc.c8903","type":"function","z":"4c86e269.9d16fc","name":"","func":"var dt = new Date();\ndatename= dt.toISOString()\nvar rxmoisture = /moisture:(.*),/g;\nvar arrmoisture = rxmoisture.exec(msg.payload);\nvar rxbattery = /battery:(.*)/g;\nvar arrbattery = rxbattery.exec(msg.payload);\n\nmsg.payload = datename+\",\"+arrmoisture[1]+\",\"+arrbattery[1];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":220,"wires":[["c18b6185.3c62c"]]},{"id":"ce8430e2.315d","type":"function","z":"4c86e269.9d16fc","name":"","func":" var rx = /moisture:(.*),/g;\nvar arr = rx.exec(msg.payload);\n\nmsg.payload = arr[1];\nmsg.topic = \"moisture\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["1acc927b.6ce10e"]]},{"id":"ce9d9538.0b5eb8","type":"function","z":"4c86e269.9d16fc","name":"","func":" var rx = /battery:(.*)/g;\nvar arr = rx.exec(msg.payload);\n\nmsg.payload = arr[1];\nmsg.topic = \"battery\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["1acc927b.6ce10e"]]},{"id":"e09ede9a.a1fbd","type":"debug","z":"4c86e269.9d16fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":320,"wires":[]},{"id":"1acc927b.6ce10e","type":"ui_chart","z":"4c86e269.9d16fc","name":"","group":"f3867eb8.41b7f","order":0,"width":"12","height":"6","label":"Moisture Sensor 1","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7086","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":720,"y":320,"wires":[["e09ede9a.a1fbd"]]},{"id":"408c789b.4e44d8","type":"file in","z":"4c86e269.9d16fc","name":"","filename":"moisture.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":530,"y":440,"wires":[["c7e91085.36aa5"]]},{"id":"a6a143cc.09629","type":"debug","z":"4c86e269.9d16fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":160,"wires":[]},{"id":"c7e91085.36aa5","type":"ftp in","z":"4c86e269.9d16fc","ftp":"c3bddf82.3d308","operation":"put","filename":"moisture.csv","localFilename":"moisture.csv","name":"","x":690,"y":440,"wires":[["a81e561d.683ed8"]]},{"id":"a81e561d.683ed8","type":"debug","z":"4c86e269.9d16fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":440,"wires":[]},{"id":"adc9b4bb.0de798","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f3867eb8.41b7f","type":"ui_group","name":"groupMoisture","tab":"7f4eef3d.f9961","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"c3bddf82.3d308","type":"ftp","host":"cybergarden.xyz","port":"21","secureOptions":"","user":"u702226795","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"7f4eef3d.f9961","type":"ui_tab","name":"Moisture","icon":"fa-leaf","disabled":false,"hidden":false}]